/06Code/CoffeShopManagementSystem/nbproject/private/
04UMLDiagrams/**/*.puml
/06Code/CoffeShopManagementSystem/dist/
/06Code/CoffeShopManagementSystem/MONGO_MIGRATION_GUIDE.md
/06Code/CoffeShopManagementSystem/TEST_INSTRUCTIONS.md
/06Code/CoffeShopManagementSystem/TASK_TEAMMATE_1.md
/06Code/CoffeShopManagementSystem/TASK_TEAMMATE_2.md

/06Code/CoffeeShop/target/
